* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.main {
    margin-top: 25px;
}

.btns-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 25px;
}

.btn-select, #play-again-btn {
    font-size: 2rem;
    margin: 5px 5px;
    width: 90%;
    max-width: 500px;
}

.selection-container {
    display: flex;
    max-width: 900px;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.flex-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 0px 5px;
}

#player-choice {
    margin-right: auto;
}

#computer-choice {
    margin-left: auto;
}

.score-box {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
    max-width: 900px;
}

#vs-score-container {
    margin: auto;
}

.center-text {
    text-align: center;
    align-items: center;
}

.center-text > div {
    font-size: 3rem;
}

/* Set base styling for small screens / mobile */
@media screen and (max-width: 1000px) {
    * {
        font-size: 24px;
    }

    .btns-container {
        flex-direction: column;
        align-items: center;
        padding: 0;
        min-height: 250px;
    }

    #vs-box {
        align-items: center;
    }

    .selection-container {
        flex-direction: column;
        min-height: 200px;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    #player-choice, #computer-choice {
        margin: 0;
    }

    .center-text > div {
        font-size: 2rem;
    }
}